.home-raves-list {
    list-style: none;
    display: inline-block;
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding-bottom: 15px;
    padding-right: .5rem;
    padding-left: .5rem;
}

.ul-recent-raves {
    display: inline-block;
    padding: 0;
}

.ul-all-raves {
    padding: 0;
}

.rave-image {
    aspect-ratio: 16/9;
    flex: 0 0 25%;
    height: 350px;
}

.homepage-image {
    max-width: auto;
    margin: auto;
}

.homepage-title {
    margin-top: 10px;
}

.recent-raves-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    text-align: center;
}

.see-details-link {
    text-decoration: none;
    color: navy;
}

.see-details-link:hover {
    color: darkmagenta;
}

.rave-title,
.rave-date,
.see-details-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-page-welcome {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkcyan;
    display: flex;
}

/* .home-page-main-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-page-main-image {
    flex-shrink: 0;
    height: 38rem;
    object-fit: cover;
    min-width: 100%;

} */

.home-page-main-image-container {
    background-image: url(../../images/homeImage.jpg);
    height: 38rem;
    position: relative;
    background-size: 100% 160%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

}
