.ul-recent-raves {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 0 auto 50px auto;
}

.rave-image {
    max-width: 100%;
    max-height: 100%;
}


.homepage-title {
    margin-top: 10px;
}

.recent-raves-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: navy;
    text-align: center;
    margin-top: 52px;
    font-size: 32px;
    margin-bottom: 52px;
}

.rave-title,
.rave-date {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

.rave-title {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: black;
    font-size: 24px;
    text-decoration: none;
}


.homepage-rave-image-container {
    display: flex;
    justify-content: center;
    height: 200px;
}

.home-page-main-image-container {
    background-image: url(../../images/homeImage.jpg);
    height: 38rem;
    position: relative;
    background-size: 100% 160%;
    display: flex;
    color: white;
    justify-content: center;
}

.homepage-rave-author-poster {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

.home-recent-raves-list {
    border: solid;
    padding: 10px 0 10px 0;
    height: 300px;
}

.home-recent-raves-list:hover {
    color: pink;

}

.show-more-raves-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-page-navlink-see-all-container {
    text-align: center;
    margin-bottom: 50px;
}

.show-more-raves-button {
    font-size: 18px;
    color: white;
    background-color: black;
}

.show-more-raves-button:hover {
    background-color: pink;
}

.home-page-navlink-see-all {
    text-decoration: none;
    font-size: 18px;
    color: navy;
}

.home-page-navlink-see-all:hover {
    text-decoration: underline;
    color: pink;
}
