.edit-form-holder {
    background-color: lightcoral;
}

.edit-rave-errors{
    list-style: none;
    color: navy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
