/* TODO Add site wide styles */

html {
    background-color: silver;
}

body {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.nav-bar {
    background-color: black;
    margin-top: 0;
    text-align: center;
    margin: auto;
}

.nav-bar-ul {
    position: relative;
    display: inline-block;
    text-align: center;
}

.nav-ul-li {
    list-style: none;
}

.new-rave-navlink,
.sign-up-navlink,
.home-navlink,
.all-raves-navlink {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-bar-raveland {
    color: white;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    right: 40rem;
}

.home-navlink:hover,
.all-raves-navlink:hover,
.new-rave-navlink:hover,
.sign-up-navlink:hover {
    color: pink;
}

.sign-up-navlink {
    padding-right: 20px;
}
