.login-form-errors {
    list-style: none;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 300px;
}

.log-in-form-modal-log-in-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 24px;
    cursor: pointer;
    color: white;
    border-style: solid;
    width: 100px;
    margin-right: 30px;
}

.log-in-form-modal-log-in-button:hover {
    color: pink
}

.login-form-modal-form-container {
    background-image: url("https://uploads-ssl.webflow.com/5ebb65ee3550ca4d8f43a7c7/60413c49849a6e03cc1f30eb_Cyber%20Raves%20in%20USA%2C%20Canada%20%26%20Mexico.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-modal-login-button:hover,
.login-form-modal-demo-button:hover{
    background-color: black;
    color: white;
}

.login-form-modal-login-button,
.login-form-modal-demo-button {
    outline: none;
    border-radius: 0;
    height: 45px;
    width: 308px;
    margin-bottom: 10px;
    background: none;
    border: solid;
    color: white;
    font-size: 24px;
}

.login-form-modal-username-email-input-field,
.login-form-modal-password-input-field {
    height: 45px;
    width: 300px;
    text-align: center;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 24px
}

::placeholder{
    color: white;
    font-size: 24px;
}

.login-form-modal-welcome-title {
    color: white;
    text-align: center;
    font-size: 36px;
    border-style: solid;
}

.login-form-modal-username-email-input-field {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form-modal-password-input-field {
    margin-bottom: 10px;
}

.login-form-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
